@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fbff;
}
/* Custom Loader */
@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-30px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes zoomIn {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}
@keyframes fadeSlideDown {
  from { opacity: 0; transform: translateY(-50px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-fadeInDown { animation: fadeInDown 1.5s ease; }
.animate-fadeInUp { animation: fadeInUp 1.5s ease; }
.animate-fadeIn { animation: fadeIn 1.8s ease; }
.animate-zoomIn { animation: zoomIn 1s ease; }
.animate-fadeSlideDown { animation: fadeSlideDown 1.5s ease; }
.animate-float { animation: float 3s ease-in-out infinite; }

@media (max-width: 480px) {
  .mobile-extra-bottom {
    margin-bottom: 150px !important;
  }
}